{% load static %}
<!DOCTYPE html>
<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %}</title>
  <link href="{% static "css/blog.css" %}" rel="stylesheet">
  <link rel="stylesheet" type="text/css" media="screen and (max-width:1170px)" href="{% static 'css/phone.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <nav class="navbar navbar-expand-lg navbar-dark bg-custome">
    <div class="container-fluid">
      <a class="navbar-brand mx-4" href="/"><img src='{% static 'images/logo.png' %}' class='logo' alt="sunworld"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav  mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link {% block homeactive %}  {% endblock homeactive %}" aria-current="page" href="/">HOME</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link {% block contactactive %} {% endblock contactactive %}" href="{% url 'blogapp:contact' %}">CONTACT</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              BLOG
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'blogapp:technology' %}">Tech</a></li>
              <li><a class="dropdown-item" href="{% url 'blogapp:food' %}">Food</a></li>
              <li><a class="dropdown-item" href="{% url 'blogapp:travel' %}">Travel</a></li>
              <li><a class="dropdown-item" href="{% url 'blogapp:sports' %}">Sports</a></li>
            </ul>
          </li>

        </ul>

        <form method="get" action="/search" class="example">
          <input type="search" class='search-input' name="query" id="search" placeholder="Search......." aria-label="Search" required>
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
        
        <ul class="navbar-nav ml-auto user-name"> 
          {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Welcome {{request.user}}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/logout">Logout</a></li>
            </ul>
          </li>
        </ul>


        {% else %}
        <!-- Button to trigger login modal -->
        <a href='{% url 'blogapp:handleLogin' %}' class="btn btn-dark mx-2">LOGIN</a>
        <!-- Button to trigger SignUp modal -->
        <!--<button type="button" class="btn btn-dark mx-2 mar-top" data-bs-toggle="modal" data-bs-target="#signupModal">SignUp</button> -->
        {% endif %}
      </div>
    </div>
  </nav>

  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }} alert-dismissible fade show my-0" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
  {% endif %}

  
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <style>
    {% block css %} {% endblock %}
  </style>
</head>


<body>
  
  {% block content %}
  {% endblock content %}



  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    -->

  {% include 'blog/footer.html' %}